<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Biblioteca Voluntarului - Acasă</title>
        <meta name="keywords" content="voluntariat, biblioteca, voluntar, oferte voluntariat, adolescenți, tineret, internship, piata, oferte">
        <meta name="description" content="Oferte de voluntariat și internship-uri pentru tinerii din București">
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <p>A doua pagină</p>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>