<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Poveștile noastre</title>
    <meta name="keywords" content="galerie, imagini, carusel">
    <meta name="description"
        content="Această pagină redă imagini de la diverse activități de voluntariat">
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <%- include("../fragmente/galerie-statica.ejs") %>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>