<footer>
    <p id="banner">Acesta este un proiect școlar!</p>
    <p id="watermark"></p>
    <address>
        Telefon: <a href="tel:+40712345678">+40 712 345 678</a><br>
        Adresă: <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Strada
            Academiei 14, București 010014</a><br>
        Email: <a href="mailto:contact@bibliotecavoluntarului.ro">contact@bibliotecavoluntarului.ro</a><br>
        WhatsApp: <a href="https://wa.me/40712345678">Contactează-ne pe WhatsApp</a>
    </address>
    <small>&copy; <time datetime="2025-03-25">25 martie 2025</time> Biblioteca Voluntarului</small>
    <p><a href="#" style="display: none;">Înapoi sus</a></p>
    <a href="#" id="link-top" title="Înapoi sus">
        <div id="sageata">&#129081;</div>
    </a>
</footer>